<div class="h-100 d-flex flex-column image">
  <app-navbar class="navh"></app-navbar>
  <div class="card shadow">
    <div class="card-title">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column p-0 lh-1">
          <p class="title fs-2 fw-bold">Offer a Ride</p>
          <p class="text-muted text-small">we get you the matches asap !</p>
        </div>
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            (click)="openBookRidePage()"
            checked
          />
        </div>
      </div>
    </div>
    <div *ngIf="isNextClicked" class="card-body">
      <app-ride> </app-ride>
    </div>
    <form [formGroup]="stopForm" *ngIf="!isNextClicked" class="card-body">
      <div class="d-flex flex-column form-outer">
        <div class="row">
          <div class="input-array overflow-auto col-10">
            <div class="d-flex flex-column">
              <div
                formArrayName="stops"
                *ngFor="
                  let stop of getStops().controls;
                  let i = index;
                  last as isLast
                "
              >
                <label for="stop{{ i }}" class="text-muted text-small fw-bold"
                  >Stop {{ i + 1 }}</label
                >
                <div>
                  <input type="text" [formControlName]="i" class="d-inline" />
                  <p
                    *ngIf="isLast"
                    (click)="addStop(i)"
                    class="fs-3 plus d-inline"
                  >
                    +
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column col-2">
            <span class="dot background-violet align-self-center m-2"></span>
            <span class="dot dot-small align-self-center m-1"></span>
            <span class="dot dot-small align-self-center m-1"></span>
            <span class="dot dot-small align-self-center m-1"></span>
            <span class="dot dot-small align-self-center m-1"></span>
            <span class="dot dot-small align-self-center m-1"></span>
            <span class="dot dot-small align-self-center m-1"></span>
            <span class="dot dot-small align-self-center m-1"></span>
            <i
              class="fa fa-map-marker align-self-center violet m-3"
              aria-hidden="true"
            ></i>
          </div>
        </div>
        <div class="row mt-2">
          <div class="d-flex flex-column col-7">
            <p class="text-muted text-small fw-bold">Available Seats</p>
            <p class="fs-6 circle-buttons">
              <button
                *ngFor="let seat of seats; let i = index"
                class="round m-1 fw-bold"
                [ngClass]="
                  seatFlags[i] == true ? 'background-violet' : 'bg-light'
                "
                (click)="seatSelected(i)"
              >
                {{ seat }}
              </button>
            </p>
          </div>
          <div class="d-flex flex-column col-5">
            <label
              for="price"
              class="text-muted text-small fw-bold mb-1 lst-label"
              >Price</label
            >
            <div class="d-flex">
              <input
                type="number"
                formControlName="price"
                class="mt-1 fs-4 last-inpt d-inline"
              />
              <p class="d-inline fs-4 mt-3 pt-2 symbol">$</p>
            </div>
          </div>
        </div>
      </div>
    </form>
    <button
      class="primary-btn violet fw-bold text-medium float-right"
      (click)="nextClick()"
      *ngIf="isNextClicked"
      [disabled]="rideForm.invalid"
    >
      Next>>
    </button>
    <button
      class="secondary-btn background-orange rounded-pill text-light fw-bold"
      [disabled]="rideForm.invalid && stopForm.invalid"
      (click)="submitOfferRide()"
      *ngIf="!isNextClicked"
    >
      Submit
    </button>
  </div>
</div>
