<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto&family=Tajawal:wght@900&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap"
  rel="stylesheet"
/>

<div class="row m-0 h-100">
  <div class="image d-lg-block d-none col-xl-8 col-lg-7 bg-light h-100">
    <div class="left-home">
      <img src="assets\logo (1).png" />
      <div class="row row-no-gutters h-80 content lh-1">
        <div class="text-uppercase fw-bold lh-1">
          <p class="fst-italic head">
            turn <span class="orange">miles </span> into
            <span class="violet"> money</span>
          </p>
          <p class="fs-3 p-2 space">rides on tap</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-5 col-12 h-100 right-home">
    <router-outlet></router-outlet>
  </div>
</div>
