.navh {
  height: 20%;
}
.card {
  width: 58%;
  margin-left: 4%;
  padding: 5%;
  border-radius: 3%;
  border: none;
}
.card-body {
  padding-left: 0% !important;
}
.title {
  font-size: 2vw;
}
.image {
  background-image: url("../../../assets/img4.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
button {
  width: 35%;
  padding: 3.4% 0;
  margin-left: -2%;
}
.form-check-input {
  padding: 0.75em 1.4em;
  margin-bottom: -5%;
  cursor: pointer;
  border: none;
  background-color: rgb(148, 28, 256);
}
.right {
  margin-left: -9%;
  padding-top: 1%;
}
.matching-cards {
  height: 60vh;
  overflow-y: auto;
  margin-left: -2%;
}
.matching-cards::-webkit-scrollbar {
  display: none;
}
.grid {
  display: grid;
  grid-gap: 4%;
  grid-template-columns: 44% 44%;
  padding: 0;
}

@media only screen and (max-width: 920px) {
  .navh {
    height: 15%;
  }
  .card {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .title {
    font-size: 6vw;
  }
  .text-small {
    font-size: larger;
  }
  .right {
    padding-left: 12%;
    padding-top: 0;
  }
  .matching-cards {
    overflow-y: none;
    margin-left: 0;
  }
  .scroll {
    height: 80vh;
    overflow-y: auto;
  }
  .grid {
    grid-template-columns: auto;
    margin-left: 10%;
    margin-right: 10%;
  }
  .image {
    background-size: 100% 30%;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .text-small {
    font-size: small;
  }
  .title {
    font-size: 8vw;
  }
}
